header{
  background-color: #F2B90F;
  color: #262626;
  height: 60px;
}
header a{
  color: #262626;
  text-decoration: none;
}
.header-container{
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.header-container ul{
  display: flex;
}
.header-container li a{
  padding: 10px;
  background-color: #F2A30F;
  margin-left: 10px;
  border-radius: 4px;
}
.header-container li a:hover{
  background-color: #262626;
  color: #F2A30F;
  transition: .5s;
}
.header-container h1 span{
  color: #BF1F1F;
}


