header{
  background-color: #FF0303;
  color: #2E3840;
  height: 60px;
}
header a{
  color: #2E3840;
  text-decoration: none;
}
.header-container{
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.header-container ul{
  display: flex;
}
.header-container li a{
  padding: 10px;
  background-color: #2E3840;
  color: #E9F8F9;
  margin-left: 10px;
  border-radius: 4px;
}
.header-container li a:hover{
  background-color: #E9F8F9;
  color: #262626;
  transition: .5s;
}
.header-container h1 span{
  color: #E9F8F9;
}
.header-container h1 span:hover{
  color: #2E3840;
  transition: .5s;
}


