section{
  text-align: center;
}
.movies-container{
  display: grid;
  margin-top: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.section-container{
  margin-top: 20px;
}
.section-container span.red{
  color: #BF1F1F;
  margin-top: 20px;
} 
.form-container input{
  align-items: center;
  width: 50%;
  height: 50px;
  border: 1px solid #262626;
}
.form-container button{
  height: 52px;
  width: 50px;
  border: 1px solid #262626;
  background-color: #F2A30F;
  color: #262626;
}
.form-container button:hover{
  color: #F2A30F;
  background-color: #262626;
  transition: .5s;
  cursor: pointer;
}
